*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Gilory";
    color: #fff;
}
    
html, body{
    height:100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    mix-blend-mode: difference; /* this mean when cursor is on text they both not mix with each other */
    border-radius: 50%;
    position:absolute;
    transition: all linear 0.2s;
}

h1{
    font-size: 9vw;
    font-weight: 900;
}